/* 파일 업로드 버튼 스타일 */
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-top: 15px;
}

.upload-btn {
  color: white;
  /*  background-color: #FFD700; */
  padding: 2px 2px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

h1, h2, h3, h4, h5, h6, .title, .btn, .button {
  text-transform: none;
}

.tabs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  cursor: pointer;
  margin-bottom: 20px;
}

.tab {
  flex: 1 0 21%;
  padding: 10px;
  margin: 5px;
  text-align: center;
  border: 1px solid #ccc;
  box-sizing: border-box;
  transition: background-color 0.3s, color 0.3s;
}

.tab.active {
  background-color: #f0f0f0;
  font-weight: bold;
}

.tab i {
  display: block;
  margin-bottom: 5px;
}

.tab-action-buttons, .subtab-action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

.tab-action-button, .subtab-action-button {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  width: 120px;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin: 5px;
}

.tab-action-button i, .subtab-action-button i {
  margin-right: 8px;
}

.tab-action-button.active, .subtab-action-button.active {
  background-color: #333;
  color: #fff;
}

.tab-action-button:hover, .subtab-action-button:hover {
  background-color: #555;
  color: #fff;
}



/* Toggle at Preview */
.toggle-button-wrapper {
  display: flex;
  padding: 5px;
  justify-content: flex-end;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
  margin-right: 10px;
  vertical-align: middle;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  transition: .4s;
  border-radius: 24px;
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 1px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #969696;
}

input:checked + .slider:before {
  transform: translateX(24px);
}

input:not(:checked) + .slider {
  background-color: rgba(255, 255, 255, 0.3);
}

.toggle-label {
  color: #555;
  white-space: nowrap;
}



#transform .subtab-action-button {
  width: 36px;
  height: 36px;
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

#resetBtn {
  background-color: transparent;
  color: #555;
  margin-left: auto;
}

#moveToOriginBtn:hover {
  background-color: #555;
  transform: scale(1.1);
}

#moveToOriginBtn:hover img {
  filter: invert(1) brightness(2); /* 색상 반전을 통해 흰색으로 변경 */
}

#flipUdBtn:hover {
  background-color: #555;
  transform: scale(1.1);
}

#flipUdBtn:hover img {
  filter: invert(1) brightness(2); /* 색상 반전을 통해 흰색으로 변경 */
}

#flipLrBtn:hover {
  background-color: #555;
  transform: scale(1.1);
}

#flipLrBtn:hover img {
  filter: invert(1) brightness(2);
}

#rotateCcw90Btn:hover {
  background-color: #555;
  transform: scale(1.1);
}

#rotateCcw90Btn:hover img {
  filter: invert(1) brightness(2);
}

#rotateCw90Btn:hover {
  background-color: #555;
  transform: scale(1.1);
}

#rotateCw90Btn:hover img {
  filter: invert(1) brightness(2);
}

#resetBtn:hover {
  background-color: red;
  color: white;
}

#resetBtn:hover img {
  filter: invert(1) brightness(2);
}

/* Navigation Buttons */
.navigation-buttons {
  display: none; /* 기본적으로 숨김 */
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.navigation-button {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s;
  border: none; /* 기본 버튼 테두리 제거 */
  box-shadow: none; /* 기본 그림자 제거 */
}

.navigation-button:hover {
  background-color: #555;
}

.navigation-button .fas {
  font-size: 24px; /* 아이콘 크기 조정 */
}

.subtab-action-buttons {
  display: flex;
  justify-content: center; /* 중앙 정렬 */
  align-items: center; /* 세로축 중앙 정렬 */
  margin-top: 10px;
  margin-bottom: 20px; /* 버튼과 다른 콘텐츠 사이에 간격 추가 */
}

.subtab-action-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin: 0 5px; /* 버튼 간의 간격 조정 */
}

.subtab-action-button img{
  width: 20px; 
  height: 20px;
  transition: filter 0.3s ease, fill 0.3s ease; 
}

.subtab-action-button i {
  margin-right: 8px;
}

/* Tab Function Contents */
.tabPanel {
  display: none;
}

.tabPanel.active {
  display: block;
}

/* 이미지 반응형 스타일 추가 */
#previewImage, #x_profile_plot, #y_profile_plot {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* 이미지 컨테이너 스타일 */
.image-container {
  width: 100%;
  overflow-x: auto;
}

/* 미디어 쿼리 추가 */
@media screen and (max-width: 768px) {
  .tab {
    flex: 1 0 45%;
  }
  
  .tab-action-button, .subtab-action-button {
    width: 100px;
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .tab {
    flex: 1 0 100%;
  }
  
  .tab-action-button, .subtab-action-button {
    width: 90px;
    font-size: 11px;
  }
}

@media screen and (max-width: 736px) {
  .toggle-button-wrapper {
    justify-content: flex-end; /* 작은 화면에서도 오른쪽 정렬 유지 */
  }
}