/* 파일 업로드 버튼 스타일 */
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-top: 15px;
}

.upload-btn {
  color: white;
  /*  background-color: #FFD700; */
  padding: 2px 2px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

h1, h2, h3, h4, h5, h6, .title, .btn, .button {
  text-transform: none;
}

.tabs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  cursor: pointer;
  margin-bottom: 20px;
}

.tab {
  flex: 1 0 21%;
  padding: 10px;
  margin: 5px;
  text-align: center;
  border: 1px solid #ccc;
  box-sizing: border-box;
  transition: background-color 0.3s, color 0.3s;
}

.tab.active {
  background-color: #f0f0f0;
  font-weight: bold;
}

.tab i {
  display: block;
  margin-bottom: 5px;
}

.tab-action-buttons, .subtab-action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

.tab-action-button, .subtab-action-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin: 5px;
}

.tab-action-button i, .subtab-action-button i {
  margin-right: 8px;
}

.tab-action-button.active, .subtab-action-button.active {
  background-color: #333;
  color: #fff;
}

.tab-action-button:hover, .subtab-action-button:hover {
  background-color: #555;
  color: #fff;
}

/* transform */
#transform .subtab-action-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;  /* 포인터 커서 추가 */
  margin: 5px;
  padding: 0;
  box-sizing: border-box;  /* 패딩과 마진 포함하여 크기 조정 */
}

#transform .subtab-action-button svg,
#transform .subtab-action-button img {
  width: 20px; 
  height: 20px;
  fill: currentColor; 
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Navigation Buttons */
.navigation-buttons {
  display: none; /* 기본적으로 숨김 */
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.navigation-button {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s;
  border: none; /* 기본 버튼 테두리 제거 */
  box-shadow: none; /* 기본 그림자 제거 */
}

.navigation-button:hover {
  background-color: #555;
}

.navigation-button .fas {
  font-size: 24px; /* 아이콘 크기 조정 */
}

/* Heatmap Canvas */
#heatmapCanvas {
  flex: 1;
  max-width: 100%;
  min-width: 200px;
  margin: 0 10px;
  height: auto; /* 반응형으로 크기 조절 */
}

.subtab-action-buttons {
  display: flex;
  justify-content: center; /* 중앙 정렬 */
  align-items: center; /* 세로축 중앙 정렬 */
  margin-top: 10px;
  margin-bottom: 20px; /* 버튼과 다른 콘텐츠 사이에 간격 추가 */
}

.subtab-action-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin: 0 5px; /* 버튼 간의 간격 조정 */
}

.subtab-action-button i {
  margin-right: 8px;
}

.subtab-action-button.active {
  background-color: #333;
  color: #fff;
}

.subtab-action-button:hover {
  background-color: #555;
  color: #fff;
}

/* Tab Function Contents */
.tabPanel {
  display: none;
}

.tabPanel.active {
  display: block;
}

/* 이미지 반응형 스타일 추가 */
#previewImage, #x_profile_plot, #y_profile_plot {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* 이미지 컨테이너 스타일 */
.image-container {
  width: 100%;
  overflow-x: auto;
}

/* 미디어 쿼리 추가 */
@media screen and (max-width: 768px) {
  .tab {
    flex: 1 0 45%;
  }
  
  .tab-action-button, .subtab-action-button {
    width: 100px;
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .tab {
    flex: 1 0 100%;
  }
  
  .tab-action-button, .subtab-action-button {
    width: 90px;
    font-size: 11px;
  }
}
